<div id="index-about-blurb">
	<p>Programming has been a hobby of mine since the age of 7. I took a renewed interest in programming as a profession after the courts ruled that software can act as legal counsel. Given the current structure of Biglaw, I realized that the legal industry is ripe for automation. Accordingly, I experimented with modern software paradigms such as web apps and test driven development.<br><br>

	I soon realized that I enjoy the modern programming scene far more than legal writing or the adversarial legal profession in general. I am now diving headlong into a field that is not only rapidly growing in stature but also providing me with countless hours of entertainment. Who knew that work could be so fun?</p>
	</p>
</div>