<div id="index-about-blurb">
	<p>Greetings! I am self a taught front end web developer residing in the Washington, DC area and currently enrolled in freeCodeCamp. My education includes degrees in mathematics, physics, and electrical engineering. Furthermore, I have worked as a software developer for the Air Force and as a patent examiner at the United States Patent and Trademark office. I can bring a wealth of domain knowledge to your project.<br><br>I am available for hire or for contract work.</p>
	</p>
</div>