<%= render partial: 'visitor/partials/index/navbar' %>

<%= render partial: 'visitor/partials/index/home' %>

<%= render partial: 'visitor/partials/index/about' %>

    <div class="jumbotron" id="Portfolio">
      <div class="container-fluid">
        <div class="jumbotron shadow" id="portfoliohdrjmb">
          <h2 id="portfoliohdr">Portfolio</h2>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

<%= render partial: 'visitor/partials/index/contact', locals: { mail_contact: @mail_contact } %>