
  <nav class="navbar navbar-default navbar-fixed-top shadow" id="topnav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="toptogglebtn">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Samuel Lair</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">

        </ul>
        <form class="navbar-form navbar-right" method="get" action="https://www.bing.com/search" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Web Search" name="q">
          </div>
          <button type="submit" class="btn btn-default" id="topnavsearchsubmit"><i class="fa fa-search"></i>
</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#Home">Home</a></li>
          <li><a href="#About">About</a></li>
          <li><a href="#Portfolio">Portfolio</a></li>
          <li><a href="#Contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="jumbotron" id="Home">
    <div class="container-fluid">
      <h1 id="title">Samuel Lair</h1>
      <h3 id="subtitle">Front End Web Developer</h2>
      </div>
    </div>
  
<%= render partial: 'visitor/partials/index/about' %>

    <div class="jumbotron" id="Portfolio">
      <div class="container-fluid">
        <div class="jumbotron shadow" id="portfoliohdrjmb">
          <h2 id="portfoliohdr">Portfolio</h2>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

<%= render partial: 'visitor/partials/index/contact', locals: { mail_contact: @mail_contact } %>

    </div>