<head>

  <nav class="navbar navbar-default navbar-fixed-top shadow" id="topnav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="toptogglebtn">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Samuel Lair</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">

        </ul>
        <form class="navbar-form navbar-right" method="get" action="https://www.bing.com/search" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Web Search" name="q">
          </div>
          <button type="submit" class="btn btn-default" id="topnavsearchsubmit"><i class="fa fa-search"></i>
</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#Home">Home</a></li>
          <li><a href="#About">About</a></li>
          <li><a href="#Portfolio">Portfolio</a></li>
          <li><a href="#Contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

</head>

<body>


  <div class="jumbotron" id="Home">
    <div class="container-fluid">
      <h1 id="title">Samuel Lair</h1>
      <h3 id="subtitle">Front End Web Developer</h2>
      </div>
    </div>
  
    <div class="jumbotron" id="About">
      <div class="container-fluid">
        <div class="jumbotron shadow" id="abouthdrjmb">
          <h2 id="abouthdr">About</h2>
        </div>
        <div class="row">
          <div class="col-xs-4 text-center">
            <a class="btn btn-primary socialbtn shadow" href="https://github.com/lair001"><i class="fa fa-github"></i> GitHub</a>
          </div>
          <div class="col-xs-4 text-center">
            <a class="btn btn-primary socialbtn shadow" href="https://www.linkedin.com/in/samuel-lair-46563097"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
          </div>          
          <div class="col-xs-4 text-center">
            <a class="btn btn-primary socialbtn shadow" href="https://www.freecodecamp.com/lair001"><i class="fa fa-fire" aria-hidden="true"></i> freeCodeCamp</a>
          </div>
        </div>
        
        <img src="https://s5.postimg.org/hug4g6b87/profile.jpg" class="img-circle img-responsive shadow cntrimg" id="profileimg">
        
        <div class="jumbotron shadow" id="aboutblurbjumb"
          <p>Greetings! I am self a taught front end web developer residing in the Washington, DC area and currently enrolled in freeCodeCamp. My education includes degrees in mathematics, physics, and electrical engineering. Furthermore, I have worked as a software developer for the Air Force and as a patent examiner at the United States Patent and Trademark office. I can bring a wealth of domain knowledge to your project.<br><br>I am available for hire or for contract work.</p>
          </p>
        </div>
      </div>
    </div>

    <div class="jumbotron" id="Portfolio">
      <div class="container-fluid">
        <div class="jumbotron shadow" id="portfoliohdrjmb">
          <h2 id="portfoliohdr">Portfolio</h2>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail shadow portfoliothmbn">
              <a href="http://codepen.io/lair001/full/OXRwPE/">
                <img src="https://s5.postimg.org/7phgqlsnr/C11_Pwebpage2.jpg" class="img-responsive shadow"  alt="Screenshot of tribute page for Constantine XI.">
              </a>
              <div class="text-center portfoliocptn shadow">
                Tribute page for Constantine XI.
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="jumbotron" id="Contact">
      <div class="container-fluid">
        <div class="jumbotron shadow" id="contacthdrjmb">
          <h2 id="contacthdr">Contact</h2>
         </div>

          <%= render partial: 'visitor/partials/index/contact_form.html' %>

        </div>
      </div>
    </div>



</body>