<div id="index_about">
  <div class="container-fluid">
    <div class="container">
      <div class="index-header-jumbotron">
        <div>About</div>
      </div>
      <div class="row">
        <div class="col-xs-4 text-center">
          <a class="btn btn-primary index-social-button shadow" href="https://github.com/lair001"><i class="fa fa-github"></i> GitHub</a>
        </div>
        <div class="col-xs-4 text-center">
          <a class="btn btn-primary index-social-button shadow" href="https://www.linkedin.com/in/samuel-lair-46563097"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
        </div>
        <div class="col-xs-4 text-center">
          <a class="btn btn-primary index-social-button shadow" href="https://www.freecodecamp.com/lair001"><i class="fa fa-fire" aria-hidden="true"></i> freeCodeCamp</a>
        </div>
      </div>

      <img src="https://s5.postimg.org/hug4g6b87/profile.jpg" class="img-circle img-responsive shadow cntrimg" id="index-profile-image">

      <%= render partial: 'visitor/partials/index/about/blurb' %>

    </div>
  </div>
</div>