<div class="jumbotron" id="index_contact">
	<div class="container-fluid">
		<div class="container">
			<div class="jumbotron shadow" id="contacthdrjmb">
				<h2 id="contacthdr">Contact</h2>
			</div>
			<%= render partial: 'visitor/partials/index/contact/form', locals: { mail_contact: mail_contact } %>
		</div>
	</div>
</div>