<div id="index_sign_in">
	<div class="container-fluid">
		<div class="container">
			<div class="index-header-jumbotron">
				<div>Sign In</div>
			</div>
			<%= render partial: 'visitor/partials/index/sign_in/form' %>
		</div>
	</div>
</div>